
<pre class="banner">

     ..   Tododo
    , Õ   does your task spark joy
     //_---_
     \  V   )
      ------
</pre>
<div class="todo">
  <ul>
    <li class="checked">Have Some Fun</li>
    <ul>
      <li class="checked">Sub list item1</li>
      <li class="checked">Add dance party mode</li>
      <li class="selected checked">Test</li>
    </ul>
    <li>Bugs</li>
    <ul>
      <li class="checked">Add support for capital letters</li>
      <li>If hiding checked, parents with incomplete children should not hide</li>
    </ul>
  </ul>
</div>
<div id="help">
  Press '?' to toggle command menu...
</div>
